*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(0, 0, 0);
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    font-family: Lucida Console;
  }
  nav .logo{
    padding: 20px;
    color: #fff;
    margin-left: 10px;
    font-size: 27px;
  }
  nav li {
    list-style: none;
    padding: 20px;
    display: inline-block;
    margin-right: 30px;
  }
  nav li a{
    text-decoration: none;
    font-size: 20px;
    font-family: Lucida Console;
    color: rgb(255, 255, 255);
  }
  
  nav li a:hover{
    transition: 0.5s;
    background-color: blueviolet;
    color: #fff;
    border: 2px solid;
    padding: 6px 10px;
    border-radius: 22px;
  }
  
  header{
    height: 100vh;
  }

  .body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .left{
    margin-top: 130px;
    position: fixed;
  }
  
  .left h1{
    font-size: 55px;
    font-family: Lucida Console;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  .left h2{
    font-size: 25px;
    margin-top: -35px;
    color: blueviolet;
    font-family: Lucida Console;
  }
  
  .left a{
    font-size: 18px;
    text-decoration: none;
    color: #f081ff;
    background-color: rgb(0, 0, 0);
    border-radius: 22px;
    padding: 10px 20px;
    border: 2px solid blueviolet;
    font-family: Lucida Console;
    text-transform: uppercase;
    
  }
  .left a:hover{
    transition: 0.5s;
    background-color: blueviolet;
    color: #fff;
  }


.footer-bottom {
  width: 100%;
  height: auto;
  margin: auto;
  background: rgb(0, 0, 0); 
  padding: 10px 0px;
  position: absolute;
  bottom: 0px;
  color: #fff;
}
  .footer-bottom p {
    margin-bottom: 0;
    margin-left: 30px;
    font-family: Lucida Console;
    font-size: 14px;
}

.social-icons a{
  color: #fff;
  margin-right: 15px;
  float:right;
  margin-bottom: 15px;
}
.social-icons a:hover {
  color: blueviolet;
}
.social-icons a:nth-of-type(even):hover {
  color: blueviolet;
}